<table class="simulador">
    <tr>
        <td colspan="7" style="border: 1px solid #666">
            <p><b>Período de {MES}/{ANO}</b></p>
            <ul>
                <li>Carga horária: {CARGA_HORARIA} horas</li>
                <li>{NUMERO_COMPONENTES} componentes</li>
            </ul>
        </td>
    </tr>
    <tr>
        <th style="width: 60%;">Componente curricular</th>
        <th style="text-align: center; width: 15px; padding: 2px">G</th>
        <th style="text-align: center; width: 15px; padding: 2px">D</th>
        <th style="text-align: center; width: 15px; padding: 2px">M</th>
        <th style="text-align: center; width: 15px; padding: 2px">T</th>
        <th style="text-align: center; width: 15px; padding: 2px">P</th>
        <th style="text-align: center; width: 25px; padding: 2px">Carga horária</th>
    </tr>

    {COMPONENTES}

</table>