<p>Divisão de componentes de acordo com a habilitação <b>{HABILITACAO}</b>:</p>
<table>
    <tr><td>TCC {NUMERO}</td><td></td><td>{ICONE_V}</td></tr>
    <tr>
        <td>Necessárias (min. {CONSTANTE_NUMERO_NECESSARIAS} componentes: {CONSTANTE_NUMERO_NECESSARIAS_MENOS_UM} + Desenvolvimento de Projeto Integrador)</td>
        <td>{NUMERO_NECESSARIAS}</td>
        <td>{ICONE_NECESSARIAS}</td>
    </tr>
    <tr>
        <td>Optativas (min. {CONSTANTE_NUMERO_OPTATIVAS} componentes)</td>
        <td>{NUMERO_OBRIGATORIAS}</td>
        <td>{ICONE_OBRIGATORIAS}</td>
    </tr>
    <tr>
        <td>Livres (min. {CONSTANTE_NUMERO_LIVRES} componentes)</td>
        <td>{NUMERO_LIVRES}</td>
        <td>{ICONE_LIVRES}</td>
    </tr>
    <tr>
        <td>Componentes totais requisitados para a {ORDINAL} habilitação (min. {NUMERO_MINIMO_PARA_ESTA_HABILITACAO})</td>
        <td>{NUMERO_TOTAL}</td>
        <td>{ICONE_TOTAL}</td>
    </tr>
</table>
<br>
