<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="atestado.css" type="text/css">
</head>
<body>
    <div class="fundo"></div>
    <div class="conteudo">
        <h1>Atestado de matrícula</h1>

        <p class="corpo">Atestamos, para os devidos fins, que Fulano de Tal, portador(a) do CPF: 123.456.789-00,
            RA: 1234567 está regularmente matriculado(a) no período letivo de 01/2021, no curso de Educação e
            Tecnologias, em nível de Especialização, oferecido pela Universidade Federal de São Carlos (UFSCar),
            por meio do Grupo Horizonte (Grupo de Estudos e Pesquisas sobre Inovação em Educação, Tecnologias e Linguagens),
            conforme do processo: 23112.003256/2018-44 registrado na PROEX-UFSCar (Pró-Reitoria de Extensão).</p>
        <p class="corpo">Por ser expressão da verdade, firmo a presente declaração.</p>
        <p class="data">São Carlos, 1 de fevereiro de 2021.</p>

    </div>

    <div class="assinatura1">
        <h2>Prof. Dr. Glauber Santiago</h2>
        <p class="assinatura">
            <b>Coordenação Curso</b><br>
            Especialização em Educação e Tecnologias<br>
            Universidade Federal de São Carlos – UFSCar<br>
            Grupo Horizonte – UFSCar
        </p>
    </div>

    <div class="rodape">
        <p>
            <b>Curso de Especialização em Educação e Tecnologias</b><br>
            Universidade Federal de São Carlos<br>
            Rod. Washington Luiz, Km 235 – CEP 13.565-905 – São Carlos – SP<br>
            Prédio AT3 – Sala 52 – (16) 3306-6556 – edutec@ead.ufscar.br<br>
        </p>
    </div>

</body>
</html>