<!DOCTYPE html>
<html>
<head>
    <title>Confirmar inscrições em componentes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Caro(a) {aluno}, você ainda não confirmou inscrições em componentes que iniciarão no próximo mês.</p><br>

    <p>Por favor, acesse sua área virtual para confirmar suas inscrições:</p>
    <a href="http://edutec.ead.ufscar.br/index.php?r=site/login">http://edutec.ead.ufscar.br/index.php?r=site/login</a>.</p>

    <p>Obrigado!</p>
    <p>Secretaria do Curso Educação e Tecnologias</p>
</body>
</html>
