<!DOCTYPE html>
<html>
<head>
    <title>Componentes oferecidos no próximo semestre</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Caro(a) {aluno}, este e-mail é para infromá-lo(a) que neste semestre os seguintes componentes serão oferecidos:</p>

    <ul>{componentes}</ul>

    <p>
        Caso não esteja inscrito nos componentes que deseja ou deseje modificar suas inscrições, por favor acesse
        o Sistema Acadêmico do EDUTEC (<a href="https://edutec.ead.ufscar.br/sca">https://edutec.ead.ufscar.br/sca</a>)
        e atualize sua trilha pedagógica.
    </p>

    <p>Obrigado!</p>
    <p>Secretaria do Curso Educação e Tecnologias</p>
</body>
</html>
