<!DOCTYPE html>
<html>
    <head>
        <title>Confirmação de recebimento de formulário de inscrição</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>Caro(a) {nome}, sua <b>inscrição</b> foi realizada com sucesso!</p><br>

        <p style="color: #e06666; font-weight: bold">Seus documentos serão analisados.</p>

        <p>Atenção, o preenchimento desta ficha de inscrição não efetiva sua
            matrícula, aguarde o contato da secretaria e fique atento ao
            cronograma de inscrições.</p>

        <p>Vimos que já possui cadastro no EduTec, então utilize os mesmos CPF e senha para acessar sua área virtual.</p>
        <p>Se não se lembra de sua senha, utilize o link <a href="http://edutec.ead.ufscar.br/sca/index.php?r=site/esqueciSenha">esqueci minha senha</a> para cadastrar uma nova.</p>
        <p>Obrigado!</p>
        <br>

        <p>+++++++</p>
        <p style="font-weight: bold">Secretaria do curso de Especialização em
            <span style="color: #e06666">Educação e Tecnologias</span></p>
        <p>☏ Tel: (16) 3306-6556</p>
        <br>
        <p style="color: #f7c282">✔ Participe! Acesse: <a href="http://edutec.ead.ufscar.br/">http://edutec.ead.ufscar.br/</a></p>
        <p style="color: #6fa8dc">✔ Acesse nossa página no Facebook: <a href="https://www.facebook.com/edutec.ufscar/">https://www.facebook.com/edutec.ufscar/</a></p>
        <p style="color: #86bc6f">✔ Grupo Horizonte: <a href="http://dgp.cnpq.br/dgp/espelhogrupo/8247769850694740">http://dgp.cnpq.br/dgp/espelhogrupo/8247769850694740</a></p>

    </body>
</html>
