<!DOCTYPE html>
<html>
<head>
    <title>Ofertas em que você está incrito começarão no próximo mês</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Caro(a) {aluno}, este e-mail é para lembrá-lo(a) que as ofertas dos componentes a seguir, em que você está matriculado(a), irão começar no próximo mês.</p>

    <ul>{componentes}</ul>

    <p>
        Caso deseje modificar suas inscrições, por favor acesse o Sistema Acadêmico do EDUTEC
        (<a href="https://edutec.ead.ufscar.br/sca">https://edutec.ead.ufscar.br/sca</a>)
        e atualize sua trilha pedagógica.
    </p>

    <p>Obrigado!</p>
    <p>Secretaria do Curso Educação e Tecnologias</p>
</body>
</html>
