<!DOCTYPE html>
<html>
<head>
    <title>Último passo para se inscrever no curso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Caro(a) {nome}, seus documentos foram recebidos com sucesso!</p><br>
    <p><b>O último passo para finalizar sua inscrição no curso é realizar o pagamento da taxa de matrícula.</b></p>
    <p>Quando seu pagamento for confirmado, você estará efetivamente matriculado no curso EduTec.</p>
    <p>Obrigado!</p>
    <p>Secretaria do Curso Educação e Tecnologias</p>
</body>
</html>
