<!DOCTYPE html>
<html>
<head>
    <title>Usuário criado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Caro(a) {nome}, agora você tem acesso à área virtual do EduTec!</p><br>
    <p>As credenciais para acessar sua área são:</p>
    <p>Login: <b>{cpf}</b></p>
    <p>Senha: <b>{senha}</b></p>

    <p>Acesse sua área virtual no endereço
    <a href="http://edutec.ead.ufscar.br/index.php?r=site/login">
    http://edutec.ead.ufscar.br/index.php?r=site/login</a>.</p>
    <p>Por favor, acesse sua conta para preencher quaisquer pendências em seu cadastro.</p>

    <p>Obrigado!</p>
    <p>Secretaria do Curso Educação e Tecnologias</p>
</body>
</html>
