<tr style="border: 1px solid #666">
    <td style="width: 60%">{NOME}</td>"
    <td class="{CLASSE3}" style="text-align: center; width: 15px; padding: 2px">{PRIORIDADE3}</td>
    <td class="{CLASSE4}" style="text-align: center; width: 15px; padding: 2px">{PRIORIDADE4}</td>
    <td class="{CLASSE1}" style="text-align: center; width: 15px; padding: 2px">{PRIORIDADE1}</td>
    <td class="{CLASSE2}" style="text-align: center; width: 15px; padding: 2px">{PRIORIDADE2}</td>
    <td class="{CLASSE5}" style="text-align: center; width: 15px; padding: 2px">{PRIORIDADE5}</td>
    <td style="text-align: center; width: 25px; padding: 2px">{CARGA_HORARIA}</td>
</tr>