{IMAGEM_CABECALHO}

<h2 style="text-align: center; padding-bottom: 15px;">Simulador de grade curricular</h2>
<p style="font-size:1.5em; line-height: 1.3em; padding-bottom: 13px;"><b>Aluno:</b> {NOME}<br>
<b>CPF:</b> {CPF}<br>
<b>Data: </b> {DATA}

<p><b>Habilitações escolhidas</b></p>
<ul>
    {HABILITACOES}
</ul>

{PERIODOS_E_OFERTAS}

<div class="simulador-resumo">
    <h3>Resumo do conjunto de componentes selecionadas</h3>
    <p>Número total de componentes: {NUMERO_TOTAL}</p>
    {RESUMOS_POR_HABILITACAO}
</div>
