<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="estilo-aperfeicoamento.css" type="text/css">
</head>
<body>
    <div class="fundo-frente"></div>
    <div class="conteudo">
        <h3>República Federativa do Brasil</h3>
        <h3>Ministério da Educação</h3>
        <h1>Universidade Federal de São Carlos</h1>
        <h2>Certificado de Conclusão de Curso de Aperfeiçoamento</h2>

        <p class="corpo">Certificamos que FULANO, documento de identidade n° 000000 e CPF n° 00000,
        concluiu o Curso de Aperfeiçoamento em Educação e Tecnologias, oferecido pelo Grupo Horizonte
        (Grupo de Estudos e Pesquisas em Educação, Tecnologias e Linguagens) em colaboração com a SEaD
        (Secretaria Geral de Educação a Distância) da Universidade Federal de São Carlos, no período de
        MES/ANO a MES/ANO, em um total de 000 horas/aula.</p>

        <p class="data">São Carlos, 30 de abril de 2019.</p>
    </div>
    <div class="assinatura1">
        <p>Fulano</p>
        <p>Coordenador da Atividade</p>
    </div>
    <div class="assinatura2">
        <p>Fulano 2</p>
        <p>Pró-Reitor de Extensão</p>
    </div>

    <pagebreak>

    <div class="fundo-verso"></div>
    <div class="cabecalho-verso">
        <h2 class="titulo-verso">Universidade Federal de São Carlos &nbsp;&nbsp; Pró-Reitoria de Extensão</h2>
        <h3 class="subtitulo-verso">Curso de Aperfeiçoamento em <b>Educação e Tecnologias</b></h3>
    </div>
    <div class="cabecalho-bolinha"><span class="bolinha">●</span></div>
    <div class="div-nome-aluno">
        <p class="nome-aluno">Aluno(a): ADAILES OLIVEIRA DE ARAUJO</p>
    </div>
    <div class="tabela-componentes-cursados">
        <table class="componentes-cursados">
            <thead>
                <tr>
                    <th>Nome da disciplina (componente curricular)</th>
                    <th class="coluna-docente">Docente responsável</th>
                    <th class="coluna-nota-carga-horaria">Nota</th>
                    <th class="coluna-nota-carga-horaria">C. H.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ambientação e letramento digital</td>
                    <td>Dr. Daniel Mill; Dr. Glauber Santiago</td>
                    <td class="nota-carga-horaria">9,7</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Aplicações pedagógicas de mídias escritas, e-books e hipermídias</td>
                    <td>Ma. Camila Oliveira; Ma. Priscila Cesário</td>
                    <td class="nota-carga-horaria">9,2</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Avaliação em processos de aprendizagem na EaD</td>
                    <td>Ma. Priscila Bianchi</td>
                    <td class="nota-carga-horaria">9,9</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Inovações tecnológicas e inovações pedagógicas</td>
                    <td>Ma. Patrícia Falcão; Me. Ortenio Oliveira</td>
                    <td class="nota-carga-horaria">9,6</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Introdução à Educação e Tecnologias (sobre o curso)</td>
                    <td>Dr. Daniel Mill; Dr. Glauber Santiago</td>
                    <td class="nota-carga-horaria">9,9</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Introdução à gestão educacional</td>
                    <td>Dr. Flávio Caetano da Silva</td>
                    <td class="nota-carga-horaria">9</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Legislação educacional e da Educação a Distância</td>
                    <td>Ma. Priscila Bianchi</td>
                    <td class="nota-carga-horaria">9,6</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Noções elementares sobre Educação a Distância (EaD)</td>
                    <td>Dr. Daniel Mill; Dr. Glauber Santiago</td>
                    <td class="nota-carga-horaria">9,9</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Planejamento e organização de animações para educação</td>
                    <td>Dr. Paulo Roberto Montanaro</td>
                    <td class="nota-carga-horaria">8,8</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td>Planejamento e organização de mídia audiovisual para educação</td>
                    <td>Me. Ian Rittmeister Mazzeu</td>
                    <td class="nota-carga-horaria">7,2</td>
                    <td class="nota-carga-horaria">20</td>
                </tr>
                <tr>
                    <td style="border: none"></td>
                    <td style="border: none"></td>
                    <td class="nota-carga-horaria">92,8</td>
                    <td class="nota-carga-horaria">200</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tabela-tcc">
        <table class="tcc">
            <tbody>
                <tr>
                    <td colspan="2" style="padding-bottom: 90px;">Trabalho de Conclusão de Curso</td>
                </tr>
                <tr>
                    <td style="width: 50%">Orientador(a):</td>
                    <td style="width: 50%">Nota:</td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tabela-media">
        <table class="totais">
            <tbody>
                <tr>
                    <td>Frequência: 94,7%</td>
                    <td>Média Final: 9,2</td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="quadro-processo"><p class="processo">Processo n°: 23112.00</p></div>

    <div class="quadro-nome-social">
        <p class="quadro">Este(a) aluno(a), cujo nome civil é _____________</p>
        <p class="linha-preenchimento-2">________________________________________________</p>
        <p class="quadro">solicitou o uso de seu nome social neste documento, conforme requerimento
        protocolado junto à Secretaria Geral de Ações Afirmativas, Diversidade e Equidade (SAADE) da
        UFSCar, de acordo com o previsto no Decreto Presidencial nº 8.727/2016 e na Resolução
        ConsUni nº 861/2016 do Conselho Universitário da UFSCar. <i>(Não preenchido quando não se
        aplica)</i>.</p>
    </div>
    <div class="quadro-periodo">
        <p class="quadro">Este Curso de Aperfeiçoamento foi realizado no período de XXXX a XXXX, na Universidade Federal de São Carlos (UFSCar).</p>
    </div>
    <div class="quadro-forma-avaliacao">
        <p class="quadro">Forma de Avaliação Adotada:</p>
    </div>
    <div class="quadro-coordenador">
        <p class="coordenador">Coordenador do Curso</p>
    </div>
    <div class="quadro-registro">
        <p class="quadro">Registrado sob nº _____, página nº _____, do Livro nº ______ de Registro de Certificados
            da Pró-Reitoria de Extensão (ProEx) da Universidade Federal de São Carlos (UFSCar),
            em ____/____/______.</p>
    </div>

</body>
</html>