<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="extensao.css" type="text/css">
</head>
<body>
    <div class="fundo-frente"></div>
    <div class="conteudo">
        <h2>República Federativa do Brasil</h2>
        <h2>Ministério da Educação</h2>
        <h1>Universidade Federal de São Carlos</h1>
        <h2>Pró-Reitoria de Extensão</h2>

        <p class="corpo">Certificamos que <b>{NOME}</b> participou da Atividade de Extensão <b>“Curso de Educação e Tecnologias”</b>,
        desenvolvida pelo Grupo Horizonte (Grupo de Estudos e Pesquisas sobre Inovação em Educação, Tecnologias e Linguagens) em
        colaboração com a SEaD (Secretaria Geral de Educação a Distância) da Universidade Federal de São Carlos, no período de
        {PERIODO_INICIO} a {PERIODO_FIM}, em um total de {CARGA_HORARIA_TOTAL} horas de dedicação, recebendo o conceito {CONCEITO} e tendo {FREQUENCIA}% de frequência.</p>

        <p class="data">São Carlos, {DATA}.</p>
    </div>
    <div class="assinatura1">
        <p>Prof. Dr. Glauber Santiago</p>
        <p>Coordenador da Atividade</p>
    </div>
    <div class="assinatura2">
        <p>Prof. Dr. Daniel Mill</p>
        <p>Coordenador da Atividade</p>
    </div>

    <pagebreak>

    <div class="fundo-verso"></div>
    <div class="cabecalho-verso">
        <h2 class="titulo-verso">Universidade Federal de São Carlos &nbsp;&nbsp; Pró-Reitoria de Extensão</h2>
        <h3 class="subtitulo-verso">Curso de Extensão em <b>Educação e Tecnologias</b></h3>
    </div>
    <div class="cabecalho-bolinha"><span class="bolinha">●</span></div>
    <div class="div-nome-aluno">
        <p class="nome-aluno">Aluno(a): {NOME}</p>
    </div>
    <div class="tabela-componentes-cursados">
        <table class="componentes-cursados">
            <thead>
                <tr>
                    <th class="coluna-disciplina">Nome da disciplina (componente curricular)</th>
                    <th class="coluna-docente">Docente(s)</th>
                    <th class="coluna-nota-carga-horaria">Nota</th>
                    <th class="coluna-nota-carga-horaria">C. H.</th>
                </tr>
            </thead>
            <tbody>
                {COMPONENTES}
                <tr>
                    <td style="border: none"></td>
                    <td style="border: none"></td>
                    <td class="nota-carga-horaria">{MEDIA_FINAL}</td>
                    <td class="nota-carga-horaria">{CARGA_HORARIA_TOTAL}</td>
                </tr>
            </tbody>
        </table>
        <table class="totais">
            <tbody>
                <tr>
                    <td>Frequência: {FREQUENCIA}%</td>
                    <td>Média Final: {MEDIA_FINAL}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="quadro-nome-social">
        <p>Este(a) aluno(a), cujo nome civil é _____________</p>
        <p class="linha-preenchimento-1">________________________________________________</p>
        <p class="linha-preenchimento-2">________________________________________________</p>
        <p>solicitou o uso de seu nome social neste documento, conforme requerimento
        protocolado junto à Secretaria Geral de Ações Afirmativas, Diversidade e Equidade (SAADE) da
        UFSCar, de acordo com o previsto no Decreto Presidencial nº 8.727/2016 e na Resolução
        ConsUni nº 861/2016 do Conselho Universitário da UFSCar. <i>(Não preenchido quando não se
        aplica)</i>.</p>
    </div>
    <div class="quadro-proex">
        <p>Documento isento de registro junto à Pró-Reitoria de Extensão (ProEx) da UFSCar. Fé
        pública concedida mediante assinatura do servidor público responsável por sua emissão,
        constante da frente deste documento.</p>
    </div>
    <div class="quadro-assinaturas">
        <p class="assinatura-dentro">Prof. Dr. Glauber Santiago</p>
        <p>Coordenador do Curso</p>
        <p class="assinatura-dentro">Prof. Dr. Daniel Mill</p>
        <p>Coordenador do Curso</p>
    </div>

</body>
</html>