<h1>Histórico de componentes cursadas</h1>

<p class="cabecalho"><b>Aluno:</b> {NOME} - <b>CPF:</b> {CPF} - <b>Data: </b> {DATA}</p>

<p><b>Habilitações escolhidas</b></p>
<ul>
    {HABILITACOES}
</ul>

<table class="historico">
    <thead>
        <tr>
            <th>Componente curricular</th>
            {PRIORIDADES}
            <th class="item">Nota virtual</th>
            <th class="item">Nota presencial</th>
            <th class="item">Média</th>
            <th class="item">Frequência</th>
        </tr>
    </thead>
    <tbody>
        {PERIODOS_E_OFERTAS}
    </tbody>
</table>
